<footer>
  <div id="elsewhere">
    <h2>Elsewhere</h2>
    <ul>
      <li>
        <a href="http://twitter.com/{{ site.twitter_username }}">Twitter</a>
      </li>
      <li>
        <a href="http://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
      </li>
    </ul>
  </div>
  <div id="hire-me">
    <h2>Hire Me</h2>
    <p>Do you have any interesting project to develop?<br /><a href="mailto:{{ site.email }}">Contact me</a></p>
  </div>
  <p id="copyright">© 2006-2015 Carlos Paramio, all rights reserved</p>
</footer>