---
interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
---

<div class="card service-card">
  <div class="service-icon">{icon}</div>
  <h3 class="service-title">{title}</h3>
  <p class="service-description">{description}</p>
</div>
